[submodule "externals/marray"]
	path = externals/marray
	url = https://github.com/DerThorsten/marray
    
[submodule "externals/pybind11"]
	path = externals/pybind11
	url = https://github.com/DerThorsten/pybind11
[submodule "externals/vigra"]
	path = externals/vigra
	url = https://github.com/ukoethe/vigra
