[submodule "externals/graph"]
	path = externals/graph
	url = https://github.com/bjoern-andres/graph
    
[submodule "externals/LP_MP"]
	path = externals/LP_MP
	url = https://github.com/pawelswoboda/LP_MP.git

[submodule "externals/qpbo"]
	path = externals/qpbo
	url = https://github.com/DerThorsten/qpbo

