[submodule "externals/marray"]
	path = externals/marray
	url = https://github.com/DerThorsten/marray
    
[submodule "externals/pybind11"]
	path = externals/pybind11
	url = https://github.com/pybind/pybind11

[submodule "externals/graph"]
	path = externals/graph
	url = https://github.com/bjoern-andres/graph
    
[submodule "externals/vigra"]
	path = externals/vigra
	url = https://github.com/DerThorsten/vigra
